<html lang="en">
<head>
	<meta charset="utf-8" content="width=device-width, initial-scale=1.0" name="viewport"></meta>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
</head>
	
<body>
	<p class="btn btn-primary btn-lg" id="location_page"><%= link_to 'Locate', '/location' %></p>
</body>
	
</html>
