<html lang="en">
<head>
	<meta charset="utf-8" content="width=device-width, initial-scale=1.0" name="viewport"></meta>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
	<%= render 'home/topbar' %>
	<%= render 'home/mainpage' %>
</body>

<script src=""//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

</html>
